.answerBtn {
    display: block;
    width: 100%;
    margin: 0 auto;
}

button:focus {
    outline: 0 !important;
    border: 0 !important;
    box-shadow: none !important;
}

.right {
    /* background: url('images/giphyRight.gif'); */
    background-color: aquamarine;
}

.wrong {
    /* background: url('images/giphyWrong.gif');  */
    background-color: red;
}